%header
  %h1 NightOurs
  %h2 We own the digital night.
%article
  %div#slider
    %div#slide1
      %div.col-1
        %div.row-1
          %img
        %div.row-2
          %img
      %div.col-2
        %div.row-1
          %img
        %div.row-2
          %img
      %div.col-3
        %img
      %div.col-4
        %img
    %div#slide2
    %div#slide3        
%footer
  %h1 A late night community for the creatively awesome.
  %nav
    %home
    %rsvp
    %where