// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #e9e9e9;
}

	header {
		height: 80px;	
		min-height: 80px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #1e1e1e;
		color: white;
	}
	
		header h1 {
			position: relative;
			display: inline;
			float: left;
			text-transform: uppercase;
			padding: 0 0 0 20px;
		}
		
		header h2 {
			position: relative;
			display: inline;
			float: right;
			padding: 10px 20px 0 0;	
			font-size: 21px;		
		}

	article {}

	footer {
		height: 80px;	
		min-height: 80px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: #ffffff;
		border-top: 1px dashed #e1e1e1;
	}
	
		footer h1 {
			position: relative;
			display: inline;
			float: left;
			text-transform: uppercase;
			padding: 0 0 0 20px;
			font-size: 32px;
		}
		
		footer nav {
			position: relative;
			float: right;
			padding: 20px 20px 0 0;
			
		}
